@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 "Roboto", sans-serif;
  color: rgba(42, 42, 42, 1);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.container {
  padding-inline: 8.75rem;
}

.link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* <---------------------- Main Content -> */

/* <---------------------- Header -> */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 2rem 7.5rem 1rem;
}

.header .brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.header .brand .brand-name {
  font-size: 37px;
  color: rgba(26, 26, 26, 0.71);
}

.header .navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;
  padding-inline: 0;
}
.header .navbar ul li a:hover {
  text-decoration: underline gray 2px;
}

.header .user-panel {
  padding: 0.5rem 0.5rem 0;
  font-size: 15px;
  border-right: 2px solid lightgray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.header .user-panel .user-panel-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .user-panel .user-panel-links a {
  margin-inline: 0.8rem;
}
.header .user-panel .user-panel-search {
  padding: 10px;
}
.header .user-panel .user-panel-search input {
  width: 100%;
  min-height: 2.7em;
  padding: 0.3rem;
  border: 1px solid lightgray;
}

/* <---------------------- Main -> */

.main .primary-banner {
  min-height: 600px;
  padding-top: 30rem;
  background: url("../images/banner-bg.png");
  color: white;
}
.main .primary-banner p {
  font-size: 18px;
}
.main .primary-banner a {
  display: inline-block;
  font-size: 15px;
}

.main .menu .criteries-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-block: 2.5rem 3.4rem;
  font-size: 17px;
}
.main .menu .criteries-form label {
  cursor: pointer;
}
.main .menu .criteries-form input {
  display: block;
  width: 100%;
  margin-inline: 0;
  visibility: hidden;
  position: relative;
}
.main .menu .criteries-form input::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: all 0.5s;
}
.main .menu .criteries-form input:checked::after {
  visibility: initial;
  width: 100%;
}

.main .menu .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;

  line-height: 18px;
  font-size: 15px;
}
.main .menu .products .prev-price,
.main .products .attribute {
  color: gray;
}
.main .menu .products .discount {
  color: rgba(255, 52, 81, 1);
}
.main .menu .btn {
  display: block;
  width: max-content;
  margin: 6rem auto 10rem;
  padding: 1rem 3.8rem;
  font-size: 20px;
  color: rgba(247, 247, 247, 1);
  background-color: rgba(26, 26, 26, 1);
  border: 1px solid #000;
}
.main .menu .btn:hover {
  background-color: rgba(40, 40, 40, 1);
}

.main .secondary-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 600px;
  background: url("../images/secondary-banner-bg.png");
  font-size: 15px;
  color: rgba(247, 247, 247, 1);
}
.main .secondary-banner .title {
  font-size: 35px;
  margin-bottom: 1.4rem;
}
.main .secondary-banner .btn {
  width: max-content;
  margin-bottom: 1.4rem;
  padding: 0.5rem 2rem;
  background-color: rgba(126, 110, 69, 1);
}
.main .secondary-banner a:not(.btn) {
  display: inline-block;
  width: max-content;
}

.main .tertiary-banner {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(49, 47, 46, 1);
  font-size: 15px;
}
.main .tertiary-banner .inner-content {
  max-width: 1160px;
  min-height: 436px;
  display: flex;
  background-color: rgba(247, 247, 247, 1);
  overflow: hidden;
}
.main .tertiary-banner .inner-content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 5.8rem;
}
.main .tertiary-banner .inner-content .info .title {
  font-size: 38px;
  margin-bottom: 0em;
}
.main .tertiary-banner .inner-content .info a {
  display: inline-block;
  width: max-content;
  margin-top: 0.5rem;
}

.main .mission .title {
  margin-block: 7rem 5rem;
  font-size: 30px;
  text-align: center;
}
.main .mission .link {
  display: inline-block;
  width: max-content;
}
.main .mission .mission-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem 5rem;
}
.main .mission .mission-cards .card:last-child {
  grid-column-end: span 2;
  margin-bottom: 7rem;
}

.main .about {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 15px;
  background: url("../images/about-img.png");
}
.main .about .title {
  font-size: 35px;
  margin-bottom: 0rem;
}

.main .subscribe {
  min-height: 443px;
  background-color: rgba(206, 211, 202, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main .subscribe .title {
  font-size: 34px;
  margin-bottom: 1.2rem;
}
.main .subscribe .form {
  margin-top: 2.5rem;
}
.main .subscribe .form input {
  height: 3rem;
  margin-inline: 0;
  padding-inline: 0;
  border: 1px solid gray;
}
.main .subscribe .form input[type="email"] {
  width: 30%;
  padding: 1rem;
  border-right: none;
}
.main .subscribe .form input[type="submit"] {
  width: 5%;
}
.main .subscribe .form input[type="submit"]:active {
  transform: scale(0.95);
}

/* <---------------------- Footer -> */

.footer {
  min-height: 359px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.footer ul.l-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem 6rem;

  padding-inline: 0;
  list-style: none;
}

.footer .r-side {
  text-align: right;
}
.footer .r-side .company {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer .r-side .company img {
  max-height: 90px;
}
.footer .r-side .socials a:not(:last-child) {
  margin-right: 1rem;
}
